{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/contents/3"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <p style="margin-bottom:10em;"></p>
            <h2 style="text-align:center; margin-bottom:-1.3em">Chapter III</h2>
            <h1 style="font-size: 90px"><a style="color: black" href="/projects/contents">Projects</a></h2>
            <p style="margin-bottom:0em;"></p>
            <p style="margin-bottom:-0.6em;">“You look. All I see is a bunch of empty cups.”</p>
            <p style="text-align: right"><i>— Doc Hudson</i></p>
        </div>
        <div id="sidebar2">
            <a href="/projects/contents"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}