{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/contents/0"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <h1> Prologue </h1>
            <p>Hello there! It's nice to meet you. My name is Peter—<a href="/epilogue">what's yours?</a></p>
            <p>As of August 7, 2025, I'm a student at Stanford studying physics and international policy. I'm working on discovering a new fundamental force with the <a href="https://web.stanford.edu/group/grattalab/">Gratta Lab</a> and I have many other <a href="/projects">projects</a> on the side. I'm interested in Earth and climate science; technology, energy, housing, and immigration policy; atomic, molecular, and optical physics; individual and group psychology; and <a href="https://www.lesswrong.com/posts/B7P97C27rvHPz3s9B/gears-in-understanding">gearsyness</a>. In my free time, I enjoy collecting rocks, reading surrealist fiction, and making spreadsheets.</p>
            <p>To navigate this site, treat it like a book. At any time and on any page, you can click on the right side of your screen to go to the next page. Try it now to see the rest of the prologue.</p>
        </div>
        <div id="sidebar2">
            <a href="/prologue/2"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}