<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        {% if title %}
        <meta property="og:title" content="{{ title }} • Chasing Sunsets" />
        {% else %}
        <meta property="og:title" content="Chasing Sunsets" />
        {% endif %}
        {% if description %}
        <meta property="og:description" content="{{ description }}" />
        {% else %}
        <meta property="og:description" content="Hi there! It's nice to meet you." />
        {% endif %}
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Chasing Sunsets" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://www.chasingsunsets.dev/static/images/sunset_main.jpg"/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="460" />
        <meta property="og:url" content="{{ request.url }}" />

        <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=EB+Garamond"
            rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if title %}
        <title> {{ title }} • Chasing Sunsets </title>
        {% else %}
        <title> Chasing Sunsets </title>
        {% endif %}
    </head>
    {% block structure %}{% endblock %}
    <script src="/static/javascript/arrow-commands.js"></script>
</html>