<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=EB+Garamond"
            rel="stylesheet" />
        {% if title %}
        <title> {{ title }} • Chasing Sunsets </title>
        {% else %}
        <title> Peter Bennett </title>
        {% endif %}
    </head>
    {% block structure %}{% endblock %}
</html>