{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/contents/1"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <div class="vertically-centered-group">
                <div class="content-wrapper">
                    <h2 style="text-align:center; margin-bottom:-1.3em">Chapter I</h2>
                    <h1 style="font-size: 90px; margin-bottom:0.1em"><a style="color: black" href="/blog/contents">Blog</a></h1>
                    <p style="margin-bottom:0em;"></p>
                    <p style="margin-bottom:-0.6em;">“Gaiseric... was a man of moderate height and lame in consequence of a fall from his horse.”</p>
                    <p style="text-align: right"><i>— Jordanes, 6th-century historian</i></p>
                </div>
            </div>
        </div>
        <div id="sidebar2">
            <a href="/blog/contents"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}