{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/blog/crystallization"><div><p>←</p></div></a>
        </div>
        <div id="mainContents" style="text-align: left"> 
            <h1><a href="/" style="color: black">Contents</a></h1>
            <div id="initialcontents"> <h3 style="margin-bottom: -1.7em; text-align:justify"> <a href="/prologue">Prologue . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . i</a> <span> </span></h3>
            <p> An introduction to my website. Recommended for first-timers. </p>
            <h3 style="margin-bottom: -1.7em; text-align:justify"> <a href="/blog">I. Writing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 1</a> <span> </span></h3> 
            <p> My blog and other long-form content. </p>
            <div class="highlighted"> <h3 style="margin-bottom: -1.7em; text-align:justify"> <a href="/fragments">II. Fragments . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 7</a> <span> </span></h3> </div>
            <p> Notes, art, recommendations, and other short-form content. </p>
            <h3 style="margin-bottom: -1.7em; text-align:justify"> <a href="/projects">III. Projects . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 18</a> <span> </span></h3> 
            <p> Things I'm working on that I'm excited about. </p>
            <h3 style="margin-bottom: -1.7em; text-align:justify"> <a href="/epilogue">Epilogue . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 39</a> <span> </span></h3> 
            </div>
        </div>
        <div id="sidebar2">
            <a href="/fragments"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}