{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/epilogue"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <p class="margin-centered-medium"></p>
            <h1 style="font-size: 90px"><a style="color: tomato" href="/">The End</a></h2>
            <p style="margin-bottom:-2em;"></p>
            <h3 style="margin-bottom:-0.6em; text-align: center"> <i> Thank you for visiting! Come back soon :) </i> </h3>
        </div>
        <div id="sidebar2">
            <a href="/"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}