{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/epilogue"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <p class="margin-centered-medium"></p>
            <h1 style="font-size: 90px"><a style="color: tomato" href="/">The End</a></h2>
            <p style="margin-bottom:-2em;"></p>
            <h3 style="margin-bottom:-0.6em; text-align: center"> <i> Thank you for visiting! Come back soon :) </i> </h3>
            <p style="margin-bottom:-2em;"></p>
            <h2>Attributions</h2>
            <p>The cover image and favicon for this website are adapted from <a href="https://commons.wikimedia.org/w/index.php?curid=113378721">this image</a> by KarlGaff, found on the <a href="https://en.wikipedia.org/wiki/Waveplate">waveplate</a> Wikipedia page.</p>
            <p>The sunset mechanism on the home page uses <a href="https://ip-api.com/">ip-api</a> and the <a href="https://sunrise-sunset.org/api">Sunrise Sunset API</a>.</p>
            <p>Claude was used to generate some of the mobile CSS for this site.</p>
        </div>
        <div id="sidebar2">
            <a href="/"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}