{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/contents/4"><div><p>←</p></div></a>
        </div>
        <div id="mainContents" style="text-align: left"> 
            <h1><a href="/contents" style="color: black">Epilogue</a></h1>
            <p style="color: #c3c3c3"> Anyone who knows me will tell you that I listen much more than I speak. If you don't think that's true, please <a style="color: lightsteelblue" href=https://admonymous.co/pbenn>let me know</a>. </p>
            <p style="color: #c3c3c3"> Unfortunately, this website—as most personal websites are—is more for speaking than listening. I don't like that. </p>
            <p> Thank you for indulging me! Your response has been saved. You can continue to the next page, <a href="/epilogue">tell me something else</a>, or <a href="/contents">go back to the menu</a>. </p>
        </div>
        <div id="sidebar2">
            <a href="/end"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}