{% extends "base.html" %}

{% block structure %}
<body>
    <div id="sunset-contents">
        <div id="sunset-sidebar1">
            <a href="/end"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <div id="sunset" class="vertically-centered-group">
                <h1 style="font-size: 90px"><a href="/contents/0">Chasing Sunsets</a></h1>
            </div>
        </div>
        <div id="sunset-sidebar2">
            <a href="/contents/0"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}