{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/end"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <p class="margin-centered-large"></p>
            <h1 style="font-size: 90px; margin-bottom: 0em"><a style="color: tomato" href="/contents/0">Chasing Sunsets</a></h2>
        </div>
        <div id="sidebar2">
            <a href="/contents/0"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}