{% extends "base.html" %}

{% block structure %}
<body>
    <div id="contents">
        <div id="sidebar1">
            <a href="/prologue/1"><div><p>←</p></div></a>
        </div>
        <div id="mainContents"> 
            <h1>Prologue</h1>
            <p>You're on the next page! Congratulations.</p>
            <p>This site is a collection of things I'd like to show the world. Most of those are works I'm proud of. Some are works I'm not proud of but I believe should be public anyway. Honesty and openness are values I hold dear; if anything on this website contradicts those values, please let me know on my <a href="https://admonymous.co/pbenn">Admonymous</a>. </p>
            <p>Before you continue, a couple more notes on navigation. If you have the time, I recommend reading this site in order, using only the left and right arrows to move between pages. If you don't have the time, that's okay.</p>
            <p>Most “content” pages on this site are preceded by “menu” pages. Each “menu” page will have one link highlighted in red; this is where you will be taken if you go to the next page. You can click on other links to skip to a different page.</p>
            <p>Thanks for visiting! You can click on the right side of your screen to continue.</p>
        </div>
        <div id="sidebar2">
            <a href="/contents/1"><div><p>→</p></div></a>
        </div>
    </div>
</body>
{% endblock %}